<div class="container-fluid p-0 h-100" >
  <div class="row row-bordered p-3 pr-0">
    <div class="col-sm-12 p-0">
      <div class="row p-0 m-0">
        <div class="col-sm-6">
          <h5>Пациент</h5>
        </div>
        <div class="col-sm-6 text-right p-0">
          <div class="dropdown">
            <button class="btn btn-success dropdown-toggle p-1" type="button" data-toggle="dropdown" 
                  aria-haspopup="true" aria-expanded="false" [disabled] = "this.patientSelected || patient === null || isString(patient)">
              <fa name="user-o"></fa>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-item" type="button" (click)="completePatient()">
                <fa name="power-off"></fa>Завершить работу с пациентом
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-0 m-0">
        <div class="patient-card my-3 p-0" *ngIf="patientSelected">
          <h6>{{patient.name}}</h6>
          <h6>{{patient.date}}</h6>
          <h6>Полис ОМС: {{patient.policy}}</h6>
        </div> 
        <div class="col-sm-12 my-3 p-0" *ngIf="!patientSelected">
          <div class="input-group input-group-sm mb-1">
            <ng-template #rt let-r="result" let-t="term">
              <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>,<br/>
              <ngb-highlight [result]="r.policy" [term]="t"></ngb-highlight>
            </ng-template>        
            <input id="typeahead-basic" type="text" class="form-control" 
                [(ngModel)]="patient" [ngbTypeahead]="search" [inputFormatter]="formatter" [resultTemplate]="rt"
                placeholder="Введите текст для поиска"/>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button"><fa name="search"></fa></button>
            </div>
          </div>
        </div> 
      </div> 
    </div>  
  </div>

  <div class="row row-bordered p-3">
    <div class="col-sm-12">
      <h5>Дата записи</h5>
    </div>
    <div class="col-sm-12 p-0">
      <div class="input-group input-group-sm mb-1">
        <input class="form-control" placeholder="ДД.ММ.ГГГГ"
              name="dp" [(ngModel)]="selectedDate" ngbDatepicker #d="ngbDatepicker" (ngModelChange)="changeDate()">             
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><fa name="calendar"></fa></button>
        </div>
      </div>
    </div>
    <!-- <ng-template #footerTemplate>
      <hr class="my-0">
      <button class="btn btn-primary btn-sm m-2 float-left" (click)="model = today; d.close()">Today</button>
      <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d.close()">Close</button>
    </ng-template> -->    
  </div>

  <div id="rowSpecialist" class="row row-bordered p-3">
    <div class="col-sm-12 p-0">
      <div class="row p-0 m-0">    
        <div class="col-sm-10">
          <h5>Специалисты <span class="counter">({{countCheckedSpec()}}/{{specialists.length}})</span></h5>
        </div>
        <div class="col-sm-2 text-right p-0">
          <div class="dropdown">
            <button class="btn btn-success dropdown-toggle p-1" type="button" data-toggle="dropdown" 
                  aria-haspopup="true" aria-expanded="false">
              <fa name="filter"></fa>
            </button>
            <div class="dropdown-menu">
              <button class="dropdown-item" type="button" (click)="allSelected()">
                <fa name="check"></fa>Выбрать все
              </button>
              <button class="dropdown-item" type="button" (click)="cancelSelected()">
                <fa name="times"></fa>Отменить все выбранные
              </button>
            </div>
          </div>
        </div>
      </div> 
      <div class="row p-0 m-0"> 
        <div class="col-sm-12 my-3 p-0">
          <div class="input-group input-group-sm mb-1">
            <ng-template #rt let-r="result" let-t="term">
              <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight><br/>
              <ngb-highlight [result]="r.position.name" [term]="t"></ngb-highlight>
            </ng-template>        
            <input id="typeahead-spec" type="text" class="form-control" 
                [(ngModel)]="specialist" [ngbTypeahead]="searchSpec" [inputFormatter]="formatterSpec" [resultTemplate]="rt"
                placeholder="Введите текст для поиска"/>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button"><fa name="search"></fa></button>
            </div>
          </div>
        </div> 
      </div> 
      <div id="btnGroup" class="row p-0 m-0">
        <div class="col-sm-12 p-0">
          <div class="btn-group btn-group-toggle btn-days w-100" data-toggle="buttons">
            <label class="btn btn-outline-light active py-0 font-14">
              <input type="radio" name="options1" autocomplete="off" checked (click)="changeSort(true)"/>По специальностям
            </label>
            <label class="btn btn-outline-light py-0 font-14">
              <input type="radio" name="options2" autocomplete="off" (click)="changeSort(false)"/>По алфавиту
            </label>
          </div>
        </div>
      </div>   
      <div class="row p-0 m-0"> 
        <div class="col-sm-12 my-3 p-0">
          <perfect-scrollbar id="scrollSpecialist" style="background-color: white;" class="container">
            <div class="content checkbox-group">
              <ul style="list-style: none; padding:0;">
                <li *ngFor="let spec of DRList; index as i" [class.second-level]="!spec.isFirstLevel">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" 
                           [(ngModel)]="spec.checked" [ngModelOptions]="{standalone: true}"
                           (click)="changeSpecialists(i)">
                    <label class="form-check-label">{{spec.obj.name}}</label>
                  </div>
                </li>
              </ul>
            </div>            
          </perfect-scrollbar>
        </div>
      </div>          
    </div>
  </div>
</div>