.patient-card {
    color: steelblue;
    
    h6 {
        margin: 0;
        font-weight: bold;
    }
}

.counter {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
    padding: 0;
}

li {
    padding: 5px;
    margin: 0;
    border-bottom: silver 1px solid;
    min-height: 40px;

    &.second-level {
        padding-left: 20px;
    }
}