<!-- Модал Информация о пациенте -->
<ng-template #recordinfo let-modal let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body"> 
      <div class="row">
        <fa name="file-text-o" size="2x"></fa>&emsp;
          {{currentRecord.patient.surname}} {{currentRecord.patient.name.substring(0,1)}}.{{currentRecord.patient.middlename.substring(0,1)}}.
      </div>
      <div class="row">
        <div class="col-6">
          Дата:
        </div>
        <div class="col-6">
          {{currentInterval.date | date:"d MMMM y"}}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          Врач:
        </div>
        <div class="col-6">
          {{currentRecord.spec.name}}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          Кабинет:
        </div>
        <div class="col-6">
          {{room}}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          Полис ОМС:
        </div>
        <div class="col-6">
          {{this.currentRecord.patient.policy}}
        </div>
      </div>
  </div>  
</ng-template>

<!-- Модал Успешное создание -->
<ng-template #createsuccess let-modal>
  <div class="modal-header">
    Запись создана
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <fa name="check-circle" size="5x"></fa>
      </div>
    </form>
  </div> 
</ng-template>

<!-- Модал Отмена записи -->
<ng-template #deleterecord let-modal let-d="dismiss">
  <div class="modal-body">
    <div>
      <h5><fa name="exclamation-circle" size="2x"></fa>Отмена записи</h5>
    </div>
    <p>
      Врач и пациент будут уведомлены об отмене записи
    </p>
    <p>
      <button class="btn btn-danger" type="button" (click)="cancel(deleterecord)">Отменить</button>
    </p>
    <p>
      <a href="#" (click)="d()">Вернуться к расписанию</a>
    </p>
  </div> 
</ng-template>

<!-- Модал Выбран интервал/Название пациента + кнопки -->
<ng-template #cardcontextmenu let-modal class="modal-menu">
  <div class="modal-body">
    <form>
      <div class="form-group">
        <span class="popap-txt" *ngIf="!currentInterval.isBusy">
          <fa name="clock-o" size="lg"></fa>Выбран интервал<br/>
          {{contextText}}<br/>
        </span>
        <span class="popap-txt" *ngIf="currentInterval.isBusy">
          <fa name="user-circle" size="lg"></fa>{{contextText}}
        </span>      
        <span class="popap-btn">
          <button class="btn" type="button" [disabled]="currentInterval ? !currentInterval.isBusy : false" 
            (click)="showInfo(recordinfo)">
            <fa name="file-text-o"></fa>Просмотреть запись</button><br/>
          <button class="btn primary" type="button" [disabled]="currentInterval ? currentInterval.isBusy : false" 
            (click)="createRec(createsuccess)">
            <fa name="pencil"></fa>Создать запись</button><br/>
          <button class="btn danger" type="button" [disabled]="currentInterval ? !currentInterval.isBusy : false" 
            (click)="deleteRec(deleterecord)">
            <fa name="trash"></fa>Отменить запись</button>
        </span>
      </div>
    </form>
  </div> 
</ng-template>

<!-- Сетка расписания -->
<div class="card-group" style="max-height: 200px" [style.width]="(columns.length * 260).toString() + 'px'">
  <table class="table table-borderless table-fixed" *ngFor="let item of columns">
    <thead class="d-block" style="position: sticky; top: 0;">
      <tr>
        <th class="dr-day text-white bg-dark" scope="col">{{item.today}}</th>
      </tr>
      <tr>
        <th class="dr-name text-white bg-secondary" scope="col">{{item.spec.name}}</th>
      </tr>
        <tr>
        <th class="dr-position text-white bg-secondary" scope="col">{{item.position.name}}</th>
      </tr>
      <tr>
        <th class="dr-room table-primary" scope="col">{{item.room}}</th>
      </tr>
      <tr>
        <th class="dr-interval table-success" scope="col">{{item.startWorkTime | date:"HH:mm"}} - {{item.endWorkTime | date:"HH:mm"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="dr-time" 
          [class.is-dont-work]="int.isDontWork || int.isLearn ||  int.isDocWork ||  int.isVacation ||  int.isHomeAppointment ||  int.isSickLeave || !int.isAppointment"
          [class.is-busy]="int.isBusy"
          *ngFor="let int of item.intervals" 
          (click)="!(int.isDontWork || int.isLearn ||  int.isDocWork ||  int.isVacation ||  int.isHomeAppointment ||  int.isSickLeave || !int.isAppointment || int.isBusy) ? openContextMenu($event, int, null, cardcontextmenu, null) : ''">
        <td>
          <div>
            <span class="interval-time">{{!(int.isDontWork || int.isLearn ||  int.isDocWork ||  int.isVacation ||  int.isHomeAppointment ||  int.isSickLeave || !int.isAppointment) || int.patients.length ? 
              (int.interval | date:"HH:mm") : '' }}
            </span> 
            {{ int.name }}
            <span class="interval-patients" data-toggle="tooltip" data-placement="top" 
                  [title]="user.patient.surname + ' ' + user.patient.name + ' ' + user.patient.middlename" 
                  *ngFor="let user of int.patients" 
                  (click)="openContextMenu($event, int, user, cardcontextmenu, item.room)">
             | {{user.patient.surname}} {{user.patient.name.substring(0,1)}}.{{user.patient.middlename.substring(0,1)}}.
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>