.card {
    width: 300;   
}

.card-body {
    padding: 0 !important;
}

.card-body div {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    border-bottom: 1px solid lightgray;
    height: 30px;
    text-align: center;
}

// .dr-room {
//     background-color: lightskyblue;
// }

// .dr-interval {
//     background-color: lightgreen;
// }

.dr-time {
    background-color: lightgray;
    border-bottom: 1px dotted black;
}


.table {
    margin: 0;
    font-size: 16px;
    width: max-content;
    border-left: 10px solid whitesmoke;

    th {
        padding: 0;
        font-weight: normal;
        width: 250px;
        height: 30px;
        border-bottom: 1px solid whitesmoke;
        text-align: center;
        // position: sticky; top: 0;
    }
    td {
        padding: 0;
        font-weight: normal;
        max-height: 30px;
        width: 250px;
        text-align: left;

        div {
            max-height: 30px;
            min-height: 30px;
            overflow: hidden;
        }
    }

    tr {
        &.is-dont-work:not(.is-busy) {
            td {
                div {
                    max-height: 60px;
                    min-height: 60px;
                    overflow: hidden;
                }
            }
        }
        
        &:hover:not(.is-busy):not(.is-dont-work) {
            background-color: lightskyblue;
        }
    }


}

.is-dont-work {
    background-color: darkgray;
    // border-bottom: 0;
}

.is-busy {
    background-color: red;
}

::ng-deep .modal-menu .modal-body {
    text-align: center;
    margin: 30px;
    .popap-btn {
        padding-top: 30px;
        display: block;
        button {
            margin: 0;
            padding: 0;
            border-bottom: 1px solid silver;
            width: 100%;

            &.primary {
                color: blue;
            }

            &.danger {
                color: red;
            }
        }
    }
}

::ng-deep .modal-success {
    .modal-body {
        text-align: center;
        fa {
            color: green;
        }
    }
    .modal-header {
        background-color: green;
    }
}

::ng-deep .modal-cancel {
    .modal-body {
        text-align: center;
        fa {
            color: red;
        }
    }
}

::ng-deep .modal-info .modal-dialog {
    max-width: 30%;
    font-size: 1.1rem;
    .modal-header {
        border: 0;
        padding-bottom: 0;
    }
    .modal-body {
        margin: 30px;
        margin-top: 0;
        color: gray;
        fa {
            color: gray;
        }
        .row {
            margin-bottom: 5px;
            &:nth-child(1) {
                margin-bottom: 15px;
            }
        }
    }
}