<div class="container-fluid vh-100 overflow-hidden">
  <div class="row vh-100">
    <div id="panel-div" class="col-sm-2 bkg-gray-1 row-bordered">
      <app-side-panel (onChangeDate)="changeDateDaysRange($event)" 
                      (onChangePatient)="setPatient($event)"
                      (onChangeSpecialists)="setSpecialists($event)"></app-side-panel>
    </div>
    <div class="col-sm-10 d-flex flex-column">
      <div class="row align-items-center bkg-gray-2 row-bordered">
        <div class="col-sm-6">
          <h4>Расписание специалистов</h4>
        </div>
        <div class="col-sm-6 text-right">
          <div class="btn-group btn-group-toggle btn-days" data-toggle="buttons">
            <label class="btn btn-success active py-0">
              <input type="radio" name="options" id="option1" autocomplete="off" checked (click)="changeDaysRange(1)">1 день
            </label>
            <label class="btn btn-success py-0">
              <input type="radio" name="options" id="option2" autocomplete="off" (click)="changeDaysRange(2)">2 день
            </label>
            <label class="btn btn-success py-0">
              <input type="radio" name="options" id="option3" autocomplete="off" (click)="changeDaysRange(7)">Неделя
            </label>
          </div>           
        </div>
      </div>
      
      <div class="row bkg-gray-2 row-bordered flex-fill"> 
        <perfect-scrollbar class="container-fluid my-3">
          <app-grid-column #gridcolumn 
              [columns]="columns" 
              (changeGrid)="updateGrid()"
              [patient]="curPatient"></app-grid-column>
        </perfect-scrollbar>
      </div>
        
      <!-- <div *ngIf="curPatient === null" class="row bkg-gray-2 row-bordered flex-fill align-items-center justify-content-center"> 
        <div>
          <h6>Для просмотра расписания выберите хотя бы один Доступный ресурс</h6>
        </div>
      </div>    -->
    </div>
  </div>
</div>