.vh-100 {
    height: 100vh;
}

.row-bordered {
    border: 1px solid silver;
}

.btn-days {
    color: white;
}

.bkg-gray-1 {
    background-color: rgb(221, 221, 221);
}

.bkg-gray-2 {
    background-color: whitesmoke;
}

#panel-div {
    height: 100vh;
}

app-side-panel {
    height: 100%;  
}